<section id="aboutwrap">
  <div class="col-xs-6 col-md-4">

  </div>

  <div class="col-xs-12 col-sm-6 col-md-8"></div>
  <li class="about-cells" id="one"></li>
  <li class="about-cells" id="two"></li>
  <li class="about-cells" id="03"></li>
  <li class="about-cells" id="04"></li>
  <li class="about-cells" id="five"></li>
  <li class="about-cells" id="six"></li>
</section>
