<section id="mainwrap" class="row">
  <div class="col-xs-6 col-md-4">
    <div id="main-panel" class="panel panel-default">
      <div class="panel-heading">
        <h1>Welcome to the ArtMapr API!</h1>
      </div>
      <div class="panel-body">
        <h4>The AprtMapr API provides access to public and institutional artworks as well as related information
        on <%= link_to "artmapr.me", "http://www.artmapr.me", method: :post %>. It's currently available for playing,
        testing, and learning only, and not for production. Please <%= mail_to 'hello@artmapr.me' do %><strong>contact us</strong><% end %> for more information.</h4>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8"></div>
</section>
