/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Questrial);

/*--------------------
[Table of Contents]

1.	Body
	2.	Header | #header
	3.	Content | #content
	2.	Footer | #footer

--------------------*/

	* {
		margin: 0;
		padding: 0;
	}

	body {
		font-size: 62.5%;
		font-family: 'Source Sans Pro', sans-serif;
		// font-family: 'Questrial', sans-serif;
	}

	p {
		font-size: 1.2em;
		line-height: 1.5em;
	}

	h1 {
		// font-size: 2em;
		font-family: 'Alegreya', serif;

	}

	h2 {
		// font-size: 1.5em;
		font-family: 'Alegreya', serif;
	}

	h3 {
		// font-size: 1.25em;
	}

	h4 {
		// font-size: 1.1em;
		line-height: 1.5;
	}

	#artmapr-main {
		padding-left: 0;
		padding-right: 0;
	}

	#artmapr-nav {
	  height: 60px;
	  background-color: #5B3586;
	}

	.navbar-default .navbar-nav > li > a {
		color: #F2F2F2;
	}

	.navbar-default .navbar-nav > li > a:hover {
		color: #F2F2F2;
	}

	.menu-items {
	  list-style-type: none;
		width: 50%;
		display: inline-block;
	}

	.nav-item {
	  color: #F2F2F2;
	  font-size: 3em;
		text-transform: uppercase;
	}

	.navbar-right {
	  text-align: center;
	  line-height: 55px;
	}

	#login-button  {
	  display: inline;
	  vertical-align: middle;
	  margin-right: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
	  width: 150%;
	  border: 2px solid #F2F2F2;
	  border-radius: 0;
	  background-color: transparent;
	  color: #F2F2F2;
	  font-size: 3em;
	  text-transform: uppercase;
	  z-index: 5;
	}

	#signup-button  {
	  display: inline;
	  vertical-align: middle;
	  margin-left: 5px;
		margin-right: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	  border: 2px solid #F2F2F2;
	  border-radius: 0;
	  background-color: transparent;
	  color: #F2F2F2;
	  font-size: 3em;
	  text-transform: uppercase;
	  z-index: 5;
	}

	#login-button:hover,
	#login-button:active {
	  color: #FFF;
	  background: #F2F2F2;
	  border-color: #F2F2F2;
	}

	#signup-button:hover,
	#signup-button:active {
	  color: #FFF;
	  background: #F2F2F2;
	  border-color: #F2F2F2;
	}

	// MAIN PAGE

	#mainwrap {
		background-image: url("M_Vitali_25.jpg");
	  position: relative;
	  width: 100%;
	  margin: 0;
	  background-position: center center;
	  min-height: 700px;
	  background-size: cover;
	}

	#main-panel {
		position: relative;
		top: 160px;
		left: 60px;
		width: 300px;
		background-color: none;
		color: #5B3586;
		z-index: 5;
	}

	footer {
	  height: 40px;
	  background-color: #5B3586;
	  position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}

	// ABOUT PAGE

	#aboutwrap {
	  position: relative;
	  width: 100%;
	  margin-top: 0;
	  background-position: center center;
	  min-height: 700px;
	  background-size: cover;
		// background-color: #5B3586;
	}

		.about-cells {
	  width: 33.33%;
	  height: 350px;
	  position: relative;
	  display: inline-block;
	  float:left;
	  list-style: none;
	}

		#one {
		background-image: url("artmapr-iphone.png");
		background-size: cover;
		overflow: hidden;
		color: #DDFFD9;
		// width: 100%;
	}

		#two {
	  background-image: url("Mailchimp-Image-01.png");
	  background-size: cover;
	  overflow: hidden;
	  color: #DDFFD9;
	}

	// API PLAYGROUND

	#playgroundwrap {
	  position: relative;
	  width: 100%;
	  margin-top: 0;
	  background-position: center center;
	  min-height: 700px;
	  background-size: cover;
		background-color: #F2F2F2;
	}

	// CONTACT PAGE

	#contactwrap {
	  position: relative;
	  width: 100%;
	  margin-top: 0;
	  background-position: center center;
	  min-height: 700px;
	  background-size: cover;
		background-color: #5B3586;
	}
